<br>this is home<br>
<%if session[:user_id]%>
            <%=form_for :post, url: posts_path do |f|%>
            <%= f.label  :title%> <br>
            <%= f.text_field  :title%><br>
            <%= f.label  :content%> <br>
            <%= f.text_field  :content%><br>
            <%= f.submit %><br>
            <%end%>
                
            <p><% @posts.each do|post| %>
                    <%= link_to post.title,"/posts/#{post.id}" %>|<%=post.updated_at%>|<%=post.user.name%><br>
                    <%end%></p>
        <% else %>
            <p><% @posts.each do|post| %>
                <%= link_to post.title,"/posts/#{post.id}" %>|<%=post.updated_at%>|<%=post.user.name%><br>
            <%end%></p>
        <%end%>